BirthdayPicker, AgeInput {
    padding: 1;
    width: auto;
    height: auto;
    layout: horizontal;
}

Label {
    border: round $background; /* for vertical align to middle */
}

AgeInput Input {
    width: 1fr;
}

Button {
    width: 1fr;
}

CountdownDisplay {
    padding: 3;
    margin-top: 3;
    text-align: center;
    background: $success-muted;
    color: $text;
}
