DatePicker, AgeInput {
    padding: 1;
    width: auto;
    height: auto;
    layout: horizontal;
}

Label {
    border: round $background; /* for vertical align to middle */
}

AgeInput Input {
    width: 1fr;
}
